# Web Framework & Server
fastapi
uvicorn
python-multipart

# Machine Learning & Computer Vision
ultralytics
opencv-python-headless

# Database Connection
SQLAlchemy
psycopg2-binary

streamlit
requests
Pillow
opencv-python-headless
